body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* 更柔和的背景色 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 1300px; /* 最大寬度 */
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

p{
    font-size: 1.8em;
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 2em;
    margin-bottom: 15px;
}

input {
    padding: 15px;
    font-size: 2em;
    margin-bottom: 20px;
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #007BFF;
    border-radius: 8px;
}

button {
    padding: 15px 25px;
    font-size: 2em;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0053ab;
}

#result {
    margin-top: 20px;
    font-size: 10em;
    font-weight: bold;
}

#result.S {
    color: rgb(160, 136, 4);
}

#result.A {
    color: red;
}

#result.B {
    color: blue;
}

#result.C {
    color: chocolate;
}

#description {
    font-size: 1.8em;
    margin-top: 0px;
    font-weight: bold;
}

#info {
    font-size: 1.4em;
    margin-top: 20px;
    color: #2d2d2d;
}

#more {
    font-size: 1.2em;
    margin-top: 20px;
    color: #666;
}